.idea/
Lab1/src/__pycache__/
Lab2/src/__pycache__/*
Lab1/res/Mice2_cetu2_131213_210250_color.fits
Lab1/res/Mice2_cetu2_131213_210250_fluo.fits
Lab1/.DS_Store
.DS_Store
Lab1/src/video.mp4
Lab2/src/__pycache__/xray_viewer.cpython-39.pyc
Lab2/src/__pycache__/xray_util.cpython-39.pyc
Lab1/src/video2.mp4
